video {
    width: 40%
}

.new-state, .connected-state, .connecting-state, .checking-state {
    color: green;
}

/*
video#localVideo {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); // Safari and Chrome
    -moz-transform:rotateY(180deg); // Firefox
}
*/
